   body {
     display: flex;
     flex-direction: column;
     margin: 0;
     background-color: #f4f4f4;
     font-family: Arial, sans-serif;
   }

   h1 {
     text-align: center;
   }

   main {
     display: flex;
     flex-direction: row;
     flex: auto;
   }

   article {
     flex: 2;
     overflow-y: auto;
   }

   aside {
     flex: 1;
     overflow-y: auto;
   }
